{
  "presets": [
    [
      '@babel/preset-env',
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    '@babel/preset-react',
    '@babel/preset-typescript'
  ],
  "env": {
    "development": {
      "plugins": [
        'babel-plugin-styled-components'
      ]
    }
  },
}
